/*Google Fonts --- Fire Sans , Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*Basic Settings*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans','Poppins',sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    height: 100vh;
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
}
.hidden {
    display: none;
}

.wrapper{
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
}


/*Navbar*/

.navbar{
    background-color: rgba(18, 18, 18, 0.7);
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar .navbar_logoImg{
    width: 50px;
}
.navbar .navbar-nav .nav-item{
    margin: 0 10px;
}
.navbar .nav-link{
    color: #ffffff !important;
}
/* .navbar .nav-link.active{
    color: #ffffff !important;
    border-bottom: 5px solid #1EB3FB;
}  */

.nav-link.active{
    color: #ffffff !important;
    border-bottom: 5px solid #1EB3FB;
} 


.navbar .navbar-toggler{
    background-color: #ffffff;
}

@media screen and (min-width:769px) {
    .custom_nav{
        display: flex;
        justify-content: space-between;
    }
}

/*Brand_canvas*/

.Brand_canvas{
    position: relative;
    background-color: #1C1C1C !important;
    text-align: center;
}

.Brand_canvas .btn-close{
    margin: 10px;
    filter: invert(0.9);
    opacity: 1;
    font-size: 30px;
}

.Brand_canvas .offcanvas-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
}
.Brand_canvas .offcanvas-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Brand_canvas .brand_logo_{
    width: 200px;
}
.Brand_canvas .brand_name{
    font-size: 40px;
    margin: 20px;
}
.Brand_canvas .socialMedia_panel{

}

.Brand_canvas .socialMedia_panel .mediaIcon{
    margin: 10px 5px;
    width: 40px;
}
.Brand_canvas .socialMedia_panel .email{
    font-size: 20px;
    color: #7B7B7B;
}



/*Banner Section*/

.Banner_section{
    background-color: #000000;
    height: 100vh;
    display: flex;
    align-items: center;
}
.Banner_section .row{
    
}
.Banner_section .row .heading{
    font-size: 75px;
}
.Banner_section .row .sub_heading{
    font-size: 30px;
}

/*WhoAreWe_section*/

.WhoAreWe_section{
    background-color: #1C1C1C;
    padding: 50px 0;
}
.WhoAreWe_section .heading{
    font-size: 30px;
    margin: 30px 0;
}
.WhoAreWe_section .description{
    font-size: 20px;
    margin-bottom: 30px;
}
.WhoAreWe_section .img_column{
    position: relative;
}
.WhoAreWe_section .img_column img{
    /* position: absolute;
    top: -20px;
    bottom: -20px; */
}

.WhoAreWe_section .img_column .showcase_img_box{
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    bottom: 0;
}
.WhoAreWe_section .img_column .showcase_img_box .showcase_img{
    width: 75px;
    opacity: 0.6;
}

.WhoAreWe_section .text_column{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.WhoAreWe_section .text_column .heading{
    font-size: 40px;
}
.WhoAreWe_section .text_column .description{
    font-size: 20px;
}
/*ServiceWeOffer_section*/

.ServiceWeOffer_section{
    background-color: #121212;
    padding: 80px 0 100px 0;
    text-align: center;
}
.ServiceWeOffer_section .heading{
    font-size: 40px;
    margin-bottom: 40px;
}
.ServiceWeOffer_section .description{
    font-size: 20px;
    margin-bottom: 60px;
}
.ServiceWeOffer_section .content_row > div{
    display: flex;
    justify-content: center;
}
.ServiceWeOffer_section .card{
    padding: 20px 0;
    background-color: transparent;
    border: 5px solid #707070;
    border-radius: 0;
}
.ServiceWeOffer_section .card .card-header{
    height: 80px;
    border-bottom: 0;
}
.ServiceWeOffer_section .card .card-header img{
    width: 60px;
}
.ServiceWeOffer_section .card .card-body ._title{
    font-size: 20px;
    margin-bottom: 20px;
}
.ServiceWeOffer_section .card .card-body ._description{
    font-size: 14px;
    color: #A3A3A3;
}

/*Portfolio section*/

.Portfolio_section{
    text-align: center;
    background-color: #1C1C1C;
    color: #ffffff;
    padding: 80px 0;
}
.Portfolio_section .heading{
    font-size: 40px;
}



/*Tabs*/

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: unset !important;
    color: #D01069 !important;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}

.nav-tabs .nav-link{
    font-size: 20px;
    border: 0 !important;
    color: #ffffff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: unset!important;
}







/******  GALLERIES ***** */

.gallery-wrapper {
    padding: 50px 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-auto-flow: dense;
  }
  
  /* Another way to do the same without declaring in the classes - remove h-x w-x from classes */
  /* .gallery-wrapper {
    padding: 2rem 10rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 300px);
    grid-auto-rows: 200px;
    grid-gap: 1rem;
    grid-auto-flow: dense;
  }
   */
  
  .gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
    filter: drop-shadow(2px 2px 3px #333);
  }
  
  .gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .gallery-item .image img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: all 400ms ease-in;
    transform: scale(1);
  }
  
  .gallery-item .image img:hover {
    transform: scale(1.1);
  }
  
  .w-1{
    grid-column: span 1;
  }
  .w-2{
    grid-column: span 2;
  }
  .w-3{
    grid-column: span 3;
  }
  .w-4{
    grid-column: span 4;
  }
  .w-5{
    grid-column: span 5;
  }
  .w-6{
    grid-column: span 6;
  }
  
  .h-1{
    grid-row: span 1;
  }
  .h-2{
    grid-row: span 2;
  }
  .h-3{
    grid-row: span 3;
  }
  .h-4{
    grid-row: span 4;
  }
  .h-5{
    grid-row: span 5;
  }
  .h-6{
    grid-row: span 6;
  }
  
  /* ***** LIGHTBOX EFFECT ***** */
  
  #lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .92);
    display: none;
  }
  
  #lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    /* border-radius: 1%; */
    /* background-color: white; */
    border: 0.2px solid silver;
  }
  
  /* Generic Styles */
  :root {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  

  
  @media only screen and (max-width: 800px) {
    .gallery-wrapper {
      grid-template-columns: repeat(2, 2fr);
      grid-template-rows: 1fr;
      grid-gap: 2;
      grid-auto-flow: dense;
    }  
    /* .gallery-container:nth-child(3n+2) {
      grid-column: 1 / span 2;
      grid-row-end: span 2;
    }
    
    .gallery-container:nth-child(4n+3) {
      grid-column: 2 / span 1;
      grid-row-end: span 2;
    } */

    .gallery-item .image img {
        height: 350px;
      }
    
  /*  reseting the css for the class within the divs to show a different way to achieve grid control using the nth childs*/
    .w-1,
    .w-2,
    .w-3,
    .w-4,
    .w-5,.w-6 {
    grid-column: span 1;
  }
  
  .h-1,
  .h-2,
  .h-3,
  .h-4,
  .h-5 {
    grid-row: span 1;
  }
    
  }
  
  @media only screen and (max-width: 576px) {
  /* An example to use combined with flex but could also be grids with different repetition of columns  */
    .gallery-wrapper {
      display: flex;
      flex-direction: column;
      flex: wrap;
      gap: 2.5rem;
      /* margin: 5rem; */
    }  
  }





.ViewAll_link{
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}




/*OurClient_section*/

.OurClient_section{
    background-color: #121212;
    padding: 80px 0;
}

.OurClient_section .text_column{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}

.OurClient_section .text_column .heading{
    font-size: 40px;
}
.OurClient_section .img_column > .row{
    display: flex;
    justify-content: center;
}
.OurClient_section .img_column > .row >div{
    padding: 10px;
}
.OurClient_section .img_column img{
    width: 100%;
}
/*OurClientSay_section*/

.OurClientSay_section{
    padding: 100px 0;
    background-color: #1C1C1C;
    text-align: center;
}
.OurClientSay_section .header{
    max-width: 800px;
    margin: 0 auto;
}
.OurClientSay_section .heading{
    font-size: 40px;
    margin-bottom: 40px;
}
.OurClientSay_section .description{
    font-size: 20px;
    margin-bottom: 40px;
}
.OurClientSay_section .content_row{
    max-width: 1100px;
    margin: 0 auto;
}
.OurClientSay_section .content_row > div{
    padding: 10px;
}
.OurClientSay_section .content_row > div:nth-last-of-type(even) .card{
    background-color: #D01069;
}
.OurClientSay_section .content_row > div:nth-last-of-type(odd) .card{
    background-color: #1EB3FB;
}
.OurClientSay_section .card .card-body{

}
.OurClientSay_section .card .card-footer{
    text-align: left;
    border-top: 0;
    background-color: transparent;
}

.OurClientSay_section .card .card-footer .clientImage{
    width: 100px;
    margin-bottom: 20px;
}



/*LetsTalk Section*/


.LetsTalk{
    text-align: center;
    color: #ffffff;
    background-color: #121212;
    padding: 80px 0 100px 0;
}
.LetsTalk .heading{
    font-size: 40px;
    margin-bottom: 40px;
}
.LetsTalk .description{
    font-size: 20px;
    margin-bottom: 40px;
}
.LetsTalk .content_row{
    max-width: 800px;
    margin: 0 auto;
}
.LetsTalk .form_section{
    text-align: left;
    max-width: 500px;
}
.LetsTalk .form_section input{
    background-color: #242424;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
}
.LetsTalk .form_section input:focus{
    box-shadow: unset;
}
.LetsTalk .form_section textarea{
    background-color: #242424;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
}
.LetsTalk .form_section textarea:focus{
    box-shadow: unset;
}
.LetsTalk .form_section label{
    color: #898989;
}

.LetsTalk .form_section .submitBtn{
    width: 100%;
    border-radius: 4px;
    background-color: #1EB3FB;
    color: #121212;
    font-weight: 500;
    padding: 16px 0;
}
.LetsTalk .form_section .submitBtn:focus{
    box-shadow: unset;
}

/*Footer*/

.Footer{
    background-color: #1C1C1C;
    color: #ffffff;
}
.Footer .content_row{
    padding: 80px 0;
}
.Footer .text_column{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;
}
.Footer .text_column .companyName span:first-child{
    color: #1EB3FB;
}
.Footer .text_column .companyName span:last-child{
    color: #D01069;
}
.Footer .text_column .address p{
    margin-bottom: 0;
}
.Footer .img_column{
    display: flex;
    align-items: center;
    justify-content: end;
}
.Footer .img_column .logo_img{
    width: 100px;
}
.Footer .copyrights{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border-top: 2px solid grey;
    padding: 20px;
    font-size: 14px;
}



/************************Responsive************************/



/* Screen resolution < 576px */

@media screen and (max-width:576px) {



    .Banner_section .row .heading{
        font-size: 30px;
    }
    .Banner_section .row .sub_heading{
        font-size: 16px;
    }


    /*Who we are*/

    .WhoAreWe_section .img_column .showcase_img_box .showcase_img{
        width: 40px;
    }
    .WhoAreWe_section .text_column .heading{
        font-size: 24px;
    }
    .WhoAreWe_section .text_column .description{
        font-size: 14px;
    }

    /*Services We Offer*/
    .ServiceWeOffer_section .heading{
        font-size: 24px;
    }
    .ServiceWeOffer_section .description{
        font-size: 14px;
    }

    /*Portfolio*/
    .Portfolio_section .heading{
        font-size: 24px;
    }

    .Portfolio_section .ViewAll_link{
        font-size: 20px;
    }

    /*Our Clients*/
    .OurClient_section .text_column .heading{
        font-size: 24px;
    }

    /*Our Client Say*/
    .OurClientSay_section .heading{
        font-size: 24px;
    }
    .OurClientSay_section .description{
        font-size: 14px;
    }

    /*Lets Talk*/
    .LetsTalk .heading{
        font-size: 24px;
    }
    .LetsTalk .description{
        font-size: 14px;
    }


    .Footer .text_column{
        text-align: center;
        justify-content: center;
    }
    .Footer .img_column{
        margin-top: 50px;
        justify-content: center;
    }
}


/* Screen resolution [ 577px - 768px ] */

@media screen and (min-width:577px) and (max-width:768px) {

    .Banner_section .row .heading{
        font-size: 40px;
    }
    .Banner_section .row .description{
        font-size: 16px;
    }


    /*Who we are*/

    .WhoAreWe_section .img_column .showcase_img_box .showcase_img{
        width: 60px;
    }

    .WhoAreWe_section .text_column .heading{
        font-size: 24px;
    }
    .WhoAreWe_section .text_column .description{
        font-size: 14px;
    }

    /*Services We Offer*/
    .ServiceWeOffer_section .heading{
        font-size: 24px;
    }
    .ServiceWeOffer_section .description{
        font-size: 14px;
    }

    /*Portfolio*/
    .Portfolio_section .heading{
        font-size: 24px;
    }

    /*Our Clients*/
    .OurClient_section .text_column .heading{
        font-size: 24px;
    }

    /*Our Client Say*/
    .OurClientSay_section .heading{
        font-size: 24px;
    }
    .OurClientSay_section .description{
        font-size: 14px;
    }

    /*Lets Talk*/
    .LetsTalk .heading{
        font-size: 24px;
    }
    .LetsTalk .description{
        font-size: 14px;
    }


    .Footer .text_column{
        text-align: center;
        justify-content: center;
    }
    .Footer .img_column{
        justify-content: center;
    }

}


/* Screen resolution [ 769px - 991px ] */

@media screen and (min-width:769px) and (max-width:991px) {

    .Banner_section .row .heading{
        font-size: 40px;
    }
    .Banner_section .row .description{
        font-size: 16px;
    }


    /*Who we are*/

    .WhoAreWe_section .img_column .showcase_img_box .showcase_img{
        width: 50px;
    }
    .WhoAreWe_section .text_column .heading{
        font-size: 24px;
    }
    .WhoAreWe_section .text_column .description{
        font-size: 14px;
    }

    /*Services We Offer*/
    .ServiceWeOffer_section .heading{
        font-size: 24px;
    }
    .ServiceWeOffer_section .description{
        font-size: 14px;
    }

    /*Portfolio*/
    .Portfolio_section .heading{
        font-size: 24px;
    }

    /*Our Clients*/
    .OurClient_section .text_column .heading{
        font-size: 24px;
    }

    /*Our Client Say*/
    .OurClientSay_section .heading{
        font-size: 24px;
    }
    .OurClientSay_section .description{
        font-size: 14px;
    }

    /*Lets Talk*/
    .LetsTalk .heading{
        font-size: 24px;
    }
    .LetsTalk .description{
        font-size: 14px;
    }


    .Footer .text_column{
        text-align: center;
        justify-content: center;
    }
    .Footer .img_column{
        justify-content: center;
    }
    
}


/* Screen resolution [ 992px - 1200px ] */

@media screen and (min-width:992px) and (max-width:1200px) {

    .Banner_section .row .heading{
        font-size: 40px;
    }
    .Banner_section .row .description{
        font-size: 16px;
    }


    /*Who we are*/
    .WhoAreWe_section .img_column .showcase_img_box .showcase_img{
        width: 50px;
    }
    .WhoAreWe_section .text_column .heading{
        font-size: 30px;
    }
    .WhoAreWe_section .text_column .description{
        font-size: 16px;
    }

    /*Services We Offer*/
    .ServiceWeOffer_section .heading{
        font-size: 30px;
    }
    .ServiceWeOffer_section .description{
        font-size: 16px;
    }

    /*Portfolio*/
    .Portfolio_section .heading{
        font-size: 30px;
    }

    /*Our Clients*/
    .OurClient_section .text_column .heading{
        font-size: 30px;
    }

    /*Our Client Say*/
    .OurClientSay_section .heading{
        font-size: 30px;
    }
    .OurClientSay_section .description{
        font-size: 16px;
    }

    /*Lets Talk*/
    .LetsTalk .heading{
        font-size: 30px;
    }
    .LetsTalk .description{
        font-size: 16px;
    }


    .Footer .text_column{
        text-align: center;
        justify-content: center;
    }
    .Footer .img_column{
        justify-content: center;
    }
    
}










#scroll {
    position:fixed;
    right:20px;
    bottom:20px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}






























/*************Portfolio UI 1.0**********************/

.gallery_row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .gallery_row .column {
    -ms-flex: 15%; /* IE10 */
    flex: 15%;
    max-width: 15%;
    padding: 0 4px;
  }
  
  .gallery_row .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .gallery_row .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .gallery_row .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }





/********************Portfolio 2.0***********************/

#__gallery{
    -webkit-column-count:6;
    -moz-column-count:6;
    column-count:6;
    
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  @media (max-width:1200px){
    #__gallery{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  }
  @media (max-width:800px){
    #__gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  }
  @media (max-width:600px){
    #__gallery{
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }  
  }
  #__gallery img,#__gallery video {
    width:100%;
    height:auto;
    margin: 4% auto;
    box-shadow:-3px 5px 15px #000;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .modal-img,.model-vid{
    width:100%;
    height:auto;
  }
  .modal-body{
    padding:0px;
  }